  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
  }
  :root{
    --main-color : #0167f3;
  }
.container{
  width: 90%;
  margin: 100px auto;
}
.title{
  text-align: center;
}
.title h2{
  color: var(--main-color);
  font-size: 35px;
}
.title p{
  width: 50%;
  margin:10px auto;
  font-size: 18px;
  color: gray;
  line-height: 1.5;
}
.services{
display: flex;
justify-content: space-around;
}
.service{
  background-color: #ccc;
  width: 24%;
  text-align: center;
  padding: 20px;
}
.contact-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.contact-left{
  width: 50%;
}
.contact-left iframe{
  width: 100%;
  height: 400px;
}
.contact-right{
  width: 50%;
}
.contact-right input{
  display: block;
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
  outline: none;
}
.contact-right textarea{
  display: block;
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
  outline: none;
  height: 200px;
}

.app-dark{
  background-color: #000;
  color: #fff;
}
.app-dark .navbar{
  background-color: #444;
}
hr{
  display: none;
}
.app-dark .team{
  border: 1px solid #444;
}
.app-dark .testimonail{
  background-color: #444;
}
.app-dark .feature{
  background-color: #444;
}
.app-dark .contact-right input{
  background-color: #444;
  color: #fff;
  border: none;
}
.app-dark .contact-right textarea{
  background-color: #444;
  color: #fff;
  border: none;
}

@media screen and (max-width : 480px){
  .contact-content{
  flex-direction: column;
  }
  .contact-left{
    width: 100%;
  }
  
  .contact-right{
    width: 100%;
  }
  .contact-right input{
    width: 90%;
  }
  .contact-right textarea{
    width: 90%;
  }
}